body {
    background: #fafafa;
    color: #125688;
    font-family: Montserrat
}

#main-container {
    margin: 30px auto;
}

.iphone {
    max-width: 100%;
}

.site-footer {
    text-transform: uppercase;
    font-size: 12px;
}

.login-box,
.signup-box {
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
}

.signup-box .platzigram {
    font-family: 'Oleo Script';
    font-size: 42px;
}

.signup-form {
    width: 65%;
    margin: 0 auto;
}

.signup-form h2 {
    color: #a5a7aa;
    font-size: 1.2em;
}

.signup-form .btn.btn-fb {
    background-color: #4090db;
    font-size: .8em;
}

.signup-form .btn.btn-fb:hover {
    background-color: #2d6599;
}

.signup-form .btn.btn-signup {
    background-color: #125688;
}

.signup-form .section input {
    font-family: Montserrat;
    font-size: .9em;
}